/* // utility classes */
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexAlign{
    display: flex;
    align-items: center;
}
.flexJustify{
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}
.mainContainer{
display: flex;
overflow: hidden;
width: 100vw;
}
.mainHeader{
    height: 23vh;
    width: 100%;
}
.sideMenubar{
    background-color: red;
    width: 20%;
}
.sideContainer{
    width: 80%;
}